/*De body krijgt een achtergrondkleur*/
body{
    background-color: rgb(205, 202, 183);

  }
/*De navigatie krijgt een zwarte achtergrondkleur, de hoeken worden afgerond en er is geen tekst decoratie*/
nav{
      background-color: rgb(0, 0, 0);   
      text-decoration: none; 
      border-radius: 20px;
    } /*De a elementen in de navigatie krijgen als kleur wit, tekst groote 20, geen tekst decoratie en als lettertype Franklin*/
    nav a {
      text-decoration: none; 
      color: white;
      font-size: 20px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    } /*De plaats tussen de lijst elementen is 10*/
    li{
      margin: 10px; 
    }
    ul{
      list-style-type: none; 
      margin: 0; 
      padding: 0;
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      height: 70px; 
      color: white;
      margin-left: 2em;
      }

.nav-items{
  display: flex;
  justify-content: space-between;
  margin-right: 2em;
}

    ul li a:hover{
      color: rgb(70, 58, 58); 
     }
    img{
      border-radius: 20px;
      width: 50%;
    }
    tekstfoto{
      position: absolute;
      top: 8px;
      right: 16px;
    }


.afbeeldingen{
  display: grid;
  grid-template-areas:
  "hotel bar restaurant";
  
  
}

.afbeeldingen .hotel {
  grid-area: hotel;
  background-color:#8b8d6c;
  border-radius: 50px;
  border-style:solid ;
  border-color: rgb(205, 202, 183);
  border-width: 10px;
}
.container {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  justify-content: center; 
  height: 500px;           
  text-align: center;
  line-height: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: white;
}
h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}
 h2{
  font-family: 'Courier New', Courier, monospace;
}
.afbeeldingen .bar {
  grid-area: bar;
  background-color:#565446;
  border-radius: 50px;
  border-style:solid ;
  border-color: rgb(205, 202, 183);
  border-width: 10px;
}

.afbeeldingen .restaurant {
  grid-area: restaurant;
  background-color:#8b8d6c;
  border-radius: 50px;
  border-style:solid ;
  border-color: rgb(205, 202, 183);
  border-width: 10px;
}

.hotel img,
.bar img,
.restaurant img {
    width: 300px;      /* Kies zelf de gewenste breedte */
    height: 200px;     /* Kies zelf de gewenste hoogte */
    object-fit: cover; /* Zorgt dat de afbeelding niet vervormt */
    display: block;    /* Optioneel: verwijdert ongewenste witruimte */
    
}
.intro{
  font-family:'Courier New', Courier, monospace;
  text-decoration: none;
  text-align: center;
  line-height: 25px;
  color: black;
  display: grid;
  place-items: center;
  height: 400px;
  font-size: 25px;
  
}
.hoofd{
  text-align: center;
  font-size: 50px;
  text-decoration: wavy;
  font-family:'Courier New', Courier, monospace ;
  text-shadow: 40px;
  text-decoration: underline;
}
footer{
      list-style-type: none; 
      margin: 20px; 
      padding: 10px;
      display: flex; 
      justify-content: center;
      align-items: center; 
      height: 70px; 
      color: white;
      background-color: black;
      border-radius: 20px;
      gap: 20px; 
      font-family:'Courier New', Courier, monospace;
}
footer a{
  color: white; 
  text-decoration: none;
}
.plaats{
  margin: 10px;
}
.groot{
  font-size: 25px;
  text-align: left;
}

.uitstap{
  display: flex;
}

.tekst{
  text-align: center;
  text-decoration: underline;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 65px;
  line-height: 10px;
}


table{
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
  text-align: center; 
  color: black;
  text-decoration: none;
}
.drank{
    color: black; 
    text-decoration: none;
}
td {
  border: 1px solid black;
  font-family: 'Courier New', Courier, monospace;
  line-height: 30px; 
  border-style: none;
  list-style-type: none;
}
.onderdeel{
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}
.friet{
  text-align: center;
  justify-items: center;
  line-height: 0px;
}
div h2{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
promo{
  max-width: 40px;
}
.hero img {
  width: auto;
  height: 400px;
  border-radius: 50px;
}

.kenmerken {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px;
  flex-wrap: wrap;
}

.kenmerken p {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
}

.kenmerken a {
  color: white;
  text-decoration: none;
}

.kenmerken a:hover {
  color:rgb(70, 58, 58);
}
.kerst{
  align-items: center;
  text-align: center;
}
.kerst h2{
  text-decoration: underline;
  font-size: 40px;
}
.promo-blok {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  background-color: #f5f0e6;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}







