body{
    background-color: rgb(205, 202, 183);
  }
nav{
      background-color: rgb(0, 0, 0);   
      text-decoration: none; 
      border-radius: 50px;
    }
    nav a {
      text-decoration: none; 
      color: azure;
      font-size: 20px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    li{
      margin: 10px; 
    }
    ul{
      list-style-type: none; 
      margin: 0; 
      padding: 0;
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      height: 70px; 
      color: azure;
      }
    ul li a:hover{
      color: rgb(70, 58, 58); 
     }
    img{
      border-radius: 20px;
      width: 50%;
    }
    tekstfoto{
      position: absolute;
      top: 8px;
      right: 16px;
    }


.afbeeldingen{
  display: grid;
  grid-template-areas:
  "hotel bar restaurant";
  
  
}

.afbeeldingen .hotel {
  grid-area: hotel;
}

.afbeeldingen .bar {
  grid-area: bar;
}

.afbeeldingen .restaurant {
  grid-area: restaurant;
}

.hotel img,
.bar img,
.restaurant img {
    width: 300px;      /* Kies zelf de gewenste breedte */
    height: 200px;     /* Kies zelf de gewenste hoogte */
    object-fit: cover; /* Zorgt dat de afbeelding niet vervormt */
    display: block;    /* Optioneel: verwijdert ongewenste witruimte */
    
}
.intro{
  grid-template-areas: 1;
  text-align: right;
  font-family:'Courier New', Courier, monospace;
  text-decoration: none;
}
.hoofd{
  text-align: center;
  font-size: 50px;
  text-decoration: wavy;
  font-family:'Courier New', Courier, monospace ;
  text-shadow: 40px;
}
footer{
      list-style-type: none; 
      margin: 0; 
      padding: 0;
      display: flex; 
      justify-content: center; 
      align-items: center; 
      height: 70px; 
      color: azure;
      margin: 10px;
      background-color: black;
      border-radius: 50px;
}
.plaats{
  margin: 10px;
}
.groot{
  font-size: 25px;
  text-align: left;
  font-family:'Courier New', Courier, monospace;
}


.uitstap{
  display: flex;
}




