body{
    background-color: rgb(205, 202, 183);
  }
nav{
      background-color: rgb(0, 0, 0);   
      text-decoration: none; 
      border-radius: 50px;
    }
    nav a {
      text-decoration: none; 
      color: azure;
      font-size: 20px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    li{
      margin: 10px; 
    }
    ul{
      list-style-type: none; 
      margin: 0; 
      padding: 0;
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      height: 70px; 
      color: azure;
      }
    ul li a:hover{
      color: rgb(70, 58, 58); 
     }
    img{
      border-radius: 20px;
      width: 50%;
    }
    tekstfoto{
      position: absolute;
      top: 8px;
      right: 16px;
    }


.afbeeldingen{
  display: grid;
  grid-template-areas:
  "hotel bar restaurant";
  
  
}

.afbeeldingen .hotel {
  grid-area: hotel;
  background-color: aqua;
  border-radius: 10px;
}

.afbeeldingen .bar {
  grid-area: bar;
  background-color: antiquewhite;
}

.afbeeldingen .restaurant {
  grid-area: restaurant;
  background-color: black;
}

.hotel img,
.bar img,
.restaurant img {
    width: 300px;      /* Kies zelf de gewenste breedte */
    height: 200px;     /* Kies zelf de gewenste hoogte */
    object-fit: cover; /* Zorgt dat de afbeelding niet vervormt */
    display: block;    /* Optioneel: verwijdert ongewenste witruimte */
    
}
.intro{
  text-align: left;
  font-family:'Courier New', Courier, monospace;
  text-decoration: none;
}
.hoofd{
  text-align: center;
  font-size: 50px;
  text-decoration: wavy;
  font-family:'Courier New', Courier, monospace ;
  text-shadow: 40px;
  text-decoration: underline;
}
footer{
      list-style-type: none; 
      margin: 20px; 
      padding: 10px;
      display: flex; 
      justify-content: center;
      align-items: center; 
      height: 70px; 
      color: white;
      background-color: black;
      border-radius: 20px;
      gap: 20px; 
      font-family:'Courier New', Courier, monospace;
}
footer a{
  color: white; 
  text-decoration: none;
}
.plaats{
  margin: 10px;
}
.groot{
  font-size: 25px;
  text-align: left;
}

.uitstap{
  display: flex;
}

.tekst{
  text-align: center;
  text-decoration: underline;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}


table, td {
  border: 1px solid black;
}

div h2{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
promo{
  max-width: 40px;
}
.hero img {
  width: 150%;
  height: 400px;
}

.kenmerken {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px;
  flex-wrap: wrap;
}

.kenmerken p {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.kenmerken a {
  color: white;
  text-decoration: none;
}

.kenmerken a:hover {
  color:rgb(70, 58, 58);
}






